html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}



.box {
	width: 30%;
	height: 20%;
	display: inline-block;
	background-color: #D0021B;
	margin-top: 2%;
	}
	
#one {
		margin-left: 3%;
	}

#two {
	background-color: #4A90E2;
	margin-left: 2%;
}

#three {
	background-color: #4A4A4A;
	margin-left: 2%;
}

.txt {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 3%;
	margin-right: 3%;
}

.contain {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
}

.toy {
  flex: 1;
  height: 300px;
}

.toy1 {
  background-color: #D0021B;
}

.toy2 {
  background-color: #4A90E2;
  flex: 5;
}

.container {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.boy {
	flex: 1;
	height: 100px;
}

.boy1 {
	background-color: #4A90E2;
  flex: 15;
}

.boy2 {
	background-color: #D0021B;
	flex: 1;
}

#zed {
	background-color: #4A4A4A;
	flex: 4;
}